<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>RestoKu Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="RestoKu adalah katalog restoran yang dibuat dengan teknologi Progressive Web Apps (PWA)"
    />
    <link rel="manifest" href="manifest.json" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip to Content</a>
    <header>
      <nav role="navigation">
        <div id="menuToggle">
          <div class="navbar-brand">
            <a href="/">RestoKu</a>
          </div>
          <!-- hamburger button -->
          <button id="hamburger__button" aria-label="hamburger-button">
            ☰
          </button>
          <div id="navigation-web">
            <ul id="menu">
              <li><a href="/">Home</a></li>
              <li><a href="#/favorite">Favorite</a></li>
              <li>
                <a
                  href="https://www.linkedin.com/in/sigit-wahyudi"
                  target="_blank"
                  rel="noopener"
                  >AboutUs</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div id="navigation-mobile">
          <ul id="menu">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li>
              <a
                href="https://www.linkedin.com/in/sigit-wahyudi"
                target="_blank"
                rel="noopener"
                >About Us</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main tabindex="0" id="maincontent"></main>

    <footer class="footer">
      <div class="footer__container">
        <p class="footer__copyright">Copyright &COPY; 2021 - RestoKu</p>
      </div>
    </footer>
  </body>
</html>
